<!doctype html>
<html>
<head>
    <title>Docker | Rancher | Lightning Fast</title>
    <style>
    body  {
      background-image: url("/static/rancheros_hero.png");
      color : white
      }
    a { color: white; }
    </style>

</head>
<body>
<div class="container">
    <img src=/static/rancherio_logo.png></img>
    <center>
    <h1>Welcome to a Demo of Rancher Orchestrated Docker Flask Goodness. </h1>
    <h1> Version 2.0 </h1>
    <h2>There have been {{hits}} hits.</h2>
    <h2>server : {{ server_name }}</h2>
    <p>Contact me at : <a href="mailto:clemenko@gmail.com">clemenko@gmail.com</a>.</p>
</div>
</body>
